---
// Redirect to admin/index.html
---

<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="refresh" content="0; url=/admin/index.html" />
  <title>Redirecting to CMS...</title>
</head>
<body>
  <p>Redirecting to CMS admin...</p>
  <script>
    window.location.href = '/admin/index.html';
  </script>
</body>
</html>
